body {
    font-family: 'Lato', sans-serif;
}

header {
    background: linear-gradient(#566455,#889b7e);
}

header i {
    font-size: 1.75rem;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
}

h1 a {
    color: #f8f9fa;
}

h1 a:hover {
    color: #f8f9fa;
    text-decoration: none;
}

a {
    color: #4e7934;
}

a:hover {
    color: #3a6025;
}

a.text-light:focus, a.text-light:hover {
    color: #cbdad2 !important;
}

.badge {
    font-weight: 500;
}

.badge-language {
    color: #fff;
    background: #54645a;
}

.badge-framework {
    color: #fff;
    background: #567d3f;
}

.badge-tool {
    color: #fff;
    background: #6c757d;
}

.btn-dark {
    background-color: #54645a;
    border-color: #54645a;
    font-weight:300;
}

.btn-dark:hover, .btn-dark:focus {
    background-color: #394038;
    border-color: #394038;
}

.card-body {
    background: #f6f9f6;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.card-footer {
    background: #c6d2c5;
}

.gallery img {
    box-shadow: 1px 1px 3px 2px rgb(0,0,0,.125);
    border-radius: 5px;
    cursor: zoom-in;
}

.title-link {
    font-size: 1.25rem;
    font-weight: 300;
}

/* Image lightbox */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;
}

.overlay.show {
    pointer-events: auto;
}

.overlay-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .75);
    opacity: 0;
    transition: opacity .25s linear;
}

.overlay.show .overlay-bg {
    opacity: 1;
}

.lightbox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lightbox .spinner-border {
    position: absolute;
    display: none;
}

.lightbox.loading .spinner-border {
    display: block;
}

.lightbox figure {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    margin: 0;
    padding: 2rem;
    opacity: 0;
    transition: opacity .15s linear;
    transition-delay: .05s;  /* fade out */
}

.lightbox figure.show {
    opacity: 1;
    transition-delay: .1s;  /* fade in */
}

@media (min-width: 992px) {
    .lightbox figure {
        width: 80%;
    }
}

@media (min-height: 992px) {
    .lightbox figure {
        height: 80%;
    }
}

.lightbox figcaption {
    height: 1.5rem;
    margin-top: .5rem;
    color: #fff;
}

.lightbox .caption-link {
    color: #c6d2c5;
}

.lightbox .caption-link:hover {
    color: #f6f9f6;
}

.lightbox img {
    max-height: 100%;
    max-height: calc(100% - 2rem);
    max-width: 100%;
    background: #eee;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
}